# --- BACKEND ---
PROJECT_NAME="Pomodoro API"
SQLALCHEMY_DATABASE_URI="sqlite:///../database/pomodoro.db"
SECRET_KEY="SUA_CHAVE_SECRETA_MUITO_SEGURA"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# --- FRONTEND ---
VITE_API_URL="http://localhost:8000/api"
